html {
    background: #ccffff;
}

body {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    padding: 2em 2em 4em;
    font-family: "Helvetica";
    line-height: 1.5;
}

h1, h3, h5 {
    color: #222;
    text-align: center;
}


h6 {
    color: #222;
}

h2, h4 {
    color: #222;
    margin-top: 6px;
}
.foreva {
    width: 140px;
    padding: 2px;
    overflow: hidden;
    margin: auto;
}
.foreva img {
    margin-left: 0px;
    float: left;
    padding-top: 0px;
}
.date_entry {
    font-size: 160%;
    padding-left: 25px;
    text-align: left;
    margin-top:20px;
    margin-bottom:10px;
}
p {
    margin: 15px;
}
.displayimg {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
.mia_curl {
    width: 10em;
    float: right;
    margin-top: -80px;
    padding-right: 310px
}
.mobileShow {display: none;}

/* Smartphone Portrait and Landscape */

@media only screen
    
    and (min-device-width : 320px)
    and (max-device-width : 480px){ .mobileShow {display: inline;}}

.mobileHide {display: inline;}

/* Smartphone Portrait and Landscape */

@media only screen
    
    and (min-device-width : 320px)
    and (max-device-width : 480px){ .mobileHide {display: none;}}

.header {
    background-color: #e8ffff;
    border: 2px solid #fbc9ff;
    margin: -20px;
    margin-bottom: 20px;
}
.footer {
    padding: 1em;
    text-align: center;
    background-color: #e8ffff;
    color: #fff;
    font-family: "Courier";
}
/* LINKS */
a:link {
    color: red;
    background-color: transparent;
    text-decoration:none;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration:none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration:none;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration:none;
}
/* end of links */

* {box-sizing: border-box}

/* Slideshow containter */
.slideshow-container {
    max-width: 200px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

/* Next and Prev buttons */


.prev, .next {
    cursor: pointer;
    position: absolute; 
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Positions the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 40px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption Text */
.text {
    color: black;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    font-weight: bold;
    text-shadow: -1px 0 #fff,0 1px #fff,1px 0 #fff,0 -1px #fff;
}

/* Number text (1/5 etc) */

.numbertext {
    color: #bbb;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
    text-align: center;
}

/* The dots */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

